body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
}

.navbar {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
  background-color: #f6f6f7;
}

#cart-icon-container {
  position: relative;
}

#cart-icon {
  font-size: 24px;
  cursor: pointer;
}

.mini-cart {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}
main.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  border-bottom: solid 1px #cccccc;
}

/* Adjust the layout for larger screens */
@media (min-width: 768px) {
  .product-details {
    flex-direction: row;
  }
}

#product-name{
    border-bottom: solid 1px #cccccc;
}

.product-info {
  margin-top: 0;
  text-align: left;
  flex: 1;
}

#product-description {
  color: #555555;
}

#size-label {
  color: #555555;
}

.size-buttons .btn {
  background-color: #222222;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 2px;
}

.size-buttons .btn:hover {
  background-color: #555555;
}

#product-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  flex-shrink: 0;
}

#add-to-cart {
  border: solid 2px #222222;
  background-color: #fff;
  color: #000000;
  font-weight: 700;
  padding: 10px;
  border-radius: 0;
}

#add-to-cart:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

/* Adjust the size of the image inside the card */
.card-img-top {
  width: 80px;
  height: auto;
}

/* Make the cards inside the mini cart responsive */
.card {
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
}

#product-price {
  font-weight: 700;
  border-bottom: solid 1px #cccccc;
}
